body {
  background-image: url(/img/Capture111.JPG);
  width: fit-content;
  font-family: Arial;
}
.signup {
  background-color: rgb(230, 230, 230);
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 100px;
  margin-top: 100px;
  margin-left: 20px;
  text-align: center;
}
.input {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  margin: 5px;
  padding-right: 100px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(109, 132, 134);
}

.backbutton {
  margin-top: 10px;
  margin-left: 80px;
  float: left;
  
}

.backbutton a {
  text-decoration: none;
  color: rgb(70, 73, 73);
}
.backbutton a:hover {
  color: rgb(109, 132, 134);
  box-shadow: rgb(109, 132, 134);
}
.submit {
  background-color: rgb(124, 126, 134);
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 60px;
  border-color: rgb(124, 126, 134);
  border-radius: 10px;
  float: centre;
}
.myButton a:hover {
  background-color: rgb(1, 2, 2);
}

.ynash {
  text-align: center;
  color: white;
}
